#index:
#    path: /
#    controller: App\Controller\DefaultController::index

# route de test chargement fichier
app_test_allCSV:
    path: /Test/allCSV
    controller: App\Controller\BasicController::allCSV
    
app_test_file-portion:
    path: /Test/{typeData}
    controller: App\Controller\BasicController::parser
    requirements: 
        typeData: temperature|co2|luminosity|humidity
        
app_test_file-portion2:
    path: /Test/Lieu/{typeData}
    controller: App\Controller\BasicController::parserLieu

app_test_file-portion3:
    path: /Test/best/{typeData}
    controller: App\Controller\BasicController::improved
    requirements: 
        typeData: temperature|co2|luminosity|humidity
app_test_data_base:
    path: /Test/BDD
    controller: App\Controller\BasicController::testBDD     