#index:
#    path: /
#    controller: App\Controller\DefaultController::index

# routes de test
app_test_allCSV:
    path: /Test/allCSV
    controller: App\Controller\BasicController::allCSV
    
app_test_file-portion:
    path: /Test/{typeData}
    controller: App\Controller\BasicController::parser
    requirements: 
        typeData: temperature|co2|luminosity|humidity
        
app_test_file-portion2:
    path: /Test/Lieu/{typeData}
    controller: App\Controller\BasicController::parserLieu

app_test_file-portion3:
    path: /Test/best/{typeData}
    controller: App\Controller\BasicController::improved
    requirements: 
        typeData: temperature|co2|luminosity|humidity
        
app_test_data_base:
    path: /Test/BDD
    controller: App\Controller\BasicController::testBDD
    
app_test_data_base_param:
    path: /Test/BDD/{typeData}/{typeLieu}/{lieu}/{dateDebut}/{dateFin}
    controller: App\Controller\BasicController::parserBDD
    requirements: 
        typeData: temperature|co2|luminosity|humidity
        typeLieu: batiment|salle|ilot
# routes de parametrage        
app_batiments:
    path: /Buildings
    controller: App\Controller\ParametersController::Batiments

app_Salles:
    path: /Rooms/{id_batiment}
    controller: App\Controller\ParametersController::Salles

app_Ilots:
    path: /Clusters/{id_salle}
    controller: App\Controller\ParametersController::Ilots
    
app_Types_donnee:
    path: /Data_types
    controller: App\Controller\ParametersController::listeTypesdonnes
    
app_Types_meteo:
    path: /Weather_types
    controller: App\Controller\ParametersController::listeTypesMeteo

app_liste_Prevision:
    path: /Weather_predictions
    controller: App\Controller\ParametersController::listePrevisions
    
    
# routes de retour d'information

app_info_Salle:
    path: /Room_Informations/{id_salle}
    controller: App\Controller\CollectorController::InformationsSalle

app_info_Meteo:
    path: /Meteo/{date_debut}/{date_fin}/{prevision}/{listetypeMeteo}
    controller: App\Controller\CollectorController::meteo
    requirements:
        prevision: actuel|30minutes|2heures|8heures|24heures

app_info_Donnee:
    path: /Data/{date_debut}/{date_fin}/{type_lieu}/{lieu}/{typeDonne}
    controller: App\Controller\CollectorController::DonneeBase
    requirements:
        type_lieu: Building|Room|Cluster|All
    
app_info_vector:
    path: /Vector/{date_debut}/{date_fin}/{type_lieu}/{lieu}/{liste_Types_Donne}/{methode_Regroupe}/{taille_Plage}
    controller: App\Controller\CollectorController::VectorSimple
    requirements:
        type_lieu: Building|Room|Cluster|All
        methode_Regroupe: min|max|avg
        taille_Plage: sec|min|hour|day|mounth|year

  
        
             
    
