<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
    		<button><a href= "{{ path('form_salle' , {}) }}" class = 'btn_salle'>Salles</a></button>
    		<button><a href= "{{ path('form_info_donnees' , {}) }}" class = 'btn_donnees'>Donnees</a></button>
        <button><a href= "{{ path('form_donnees_vector' , {}) }}" class = 'btn_donnees'>Vector</a></button>
    </body>
</html>